---
layout: default
---

<div class="container-fluid bgimg p-0 m-0">  

{% include nav.html %}

<!-- Page Content -->

<div id="intro" class="container">



      <h1>Remote Raise</h1>
      <h2>October 2020 </h2>
      <p>Join us October 22nd 2020 for an an afternoon of pitching  prospect and the possibility of great returns on investment from angels, syndicates and early stage funds. </p>

</div>

<div class="container-fluid p-0 m-0 pitchingImage">

<img id="remote-raise-pitchers" class="p-0 m-0" src="/images/remote-raise-pitchers.png" width="100%" alt="Remote Raise ptichers">

</div>



{%include pitchers.html %} 


</div>




