---
layout: default
---

<div class="container-fluid bgimg p-0 m-0">  



<!-- Page Content -->



 <div class="container text-center">


    <div style="padding-top: 200px;"><h1>Remote Raise connects startups with Investors. We showcase startups from UK, Ireland and Northern Ireland. </h1>

<br>

<a href="https://airtable.com/shrTuvqNtcb3UliHk"  class="btn btn-primary btn-lg" style="color:#fff; text-transform: uppercase;">Startups Apply Here</a>
<br>
<br>
</div>


<div class="container text-center">



<h1>The latest Raise was held April 01st 2021 <br> <a style="text-decoration: underline;" href="https://www.youtube.com/watch?v=jZbY7ViY9tc" role="button">Watch the video playback!</a></h1>
<br>
<br>

<p>Deal flow on Remote Raise 4 Startups.</p>

<iframe class="airtable-embed" src="https://airtable.com/embed/shrqwpUteGcHbko0g?backgroundColor=blue&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>

  </div>






    


</div>


<div id="news" class="container">
<h4>Latest News</h4>

<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

</div>


{% include contact.html %}

