html,
body {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
  background-color: #1C3EB3;
  font-family: 'Inter', sans-serif;
    height: 100%;
}

#page-content {
  flex: 1 0 auto;
}


.bgimg {
    background-image: url(/images/raise-bg.png);
    background-repeat: no-repeat;
    background-position: -50% 0%;
    background-size: 50%;
    height: 100vh;
}

.bg-dark {
    background-color: #173cbdb3 !important;
}


.btn {
  font-size: 22px;
  color: #fff;
}

a.btn {
    color: #fff;
}

a.btn.btn-light {
    color: #ffffff;
    background-color: #1AA2CD;
    border: #1AA2CD;
    text-transform: uppercase;
    letter-spacing: -.5px;
    padding: 5px 15px;
}
/*

#intro::after {
    content: url(/images/raise-bg.png);
    position: absolute;
    top: 70px;
    opacity: .125;
    right: -40%;
}
*/

img#remote-raise-pitchers {
    position: relative;
    padding-top: 70px !important;
}

#intro {
    padding-bottom: 100px;
    text-align: left;
}

#intro h1 {
      padding-top: 250px;
}

#intro .card-body a {
    font-size: 22px;
}

h1 {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 102px;
    line-height: 107px;
    text-align: left;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 18px;

}

h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 102px;
    color: #26bd92bf;
    line-height: 50px;
    margin-bottom: 50px;
}

p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: #EDEEF9;
    max-width: 60%;
    line-height: 33px;
}

/* pages */

#about {
    padding-top: 0%;
    padding-bottom: 200px;
}

#about h1 {
    margin-top: 200px;
    padding-bottom: 5px;
    color: white;
    font-size: 32px;
}



#about h2 {
    margin-top: 100px;
    padding-bottom: 5px;
    color: white;
    font-size: 32px;
    letter-spacing: 0px;
}


#contact h2 {
    margin-top: 0px;
    padding-bottom: 5px;
    color: white;
    font-size: 32px;
    margin: 0;
    letter-spacing: 0px;
}

#contact p {
  max-width: 100%;
}

#contact a {
    color: #fff;
}

/* pitchers */

#pitchers {
  margin-top: 100px;
  margin-bottom: 200px;
}

#pitchers h1 {
    font-size: 111px;
    font-weight: 900;
    margin: 0;
}

#pitchers h2 {
    font-size: 52px;
    font-weight: 900;
    margin: 25px 0px;
    color: #fff;
}

#pitchers p {
    max-width: 100%;
    line-height: 29px;
    font-size: 22px;
    margin: 0;
}

#pitchers a {

    margin: 25px 0px;
    display: block;
    color: #fff;
    font-size: 22px;
  
}


/* Intro */

h5.card-title {
    font-size: 32px;
    letter-spacing: -2px;
    font-weight: 900;
    height: 50px;
}

p.card-text {
    padding: 0px 0px 0px 0px;
    text-align: left;
    color: #131111;
    line-height: 1.25em;
    font-weight: 100;
}

.card-body a {
    color: #000;
    font-weight: 900;
    font-size: 13px;
}


.hovereffect img {
      width: 95%;
    margin: 0 auto;
    padding: 25px;
}





#sticky-footer {

    background: #002d72;
    bottom: 0px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 250px !important;
}

#sticky-footer h3 {
    font-size: 20px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0px 15px 0px;
    letter-spacing: -1px;
}

#sticky-footer a {
    display: block;
    width: 100%;
    background: #40b0d5;
    font-size: 12px;
    color: #ffffffb8;
}

#sticky-footer img {
  height: 111px;
}


#sticky-footer p {
    width: 100%;
    height: 111px;
    line-height: 29px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0;
    font-size: 23px;
    text-align: center;
    padding: 2em;
}

/**
* Scrolling CSS
*/
nav.scroll {
    background-color: #002d72 !important;
    position: fixed;
    transition: all 1.3s ease;
}

nav.scroll img.remote-raise-logo {
    height: 60px;
}


@media (max-width: 767.98px) { 

  #intro {
    margin-top: 170px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: left;
}

img#remote-raise-pitchers {
  padding: 0 !important;
}

#intro h1  {
  display: none;
}

#intro h2  {
  display: none;
}

#intro p {
    width: 100%;
    line-height: 31px;
    font-size: 22px;
    max-width: 95%;
}

#pitchers {
    margin: 0px;
}

#pitchers .row.py-5 {
    padding: 0 !important;
}

#pitchers h2 {
    font-size: 22px;
}



#pitchers img {
    width: 100px;
    height: 100px;
    margin-top: 50px;
}

#sticky-footer {
    height: 350px;
    position: relative;
    bottom: 0;
    display: block;
}



 }



 h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 102px;
    color: #1acdb5;
    line-height: 50px;
    margin-bottom: 50px;
    letter-spacing: 6px;
    font-weight: 900;
    margin-left: 0px;
}

#intro h3 {
    background: #1cceb642;
    padding: 5px 5px;
    color: #ffffffeb;
    width: 70%;
    border-radius: 0px 5px 5px 0px;
    font-weight: 900;
}

hr {
    background: #fff;
    border: 1px solid #fff;
    max-width: 1222px;
    margin: 0 auto;
    margin-bottom: 50px;
}

a.btn.btn-light {
    color: #ffffff;
    background-color: #1acdb5;
    text-transform: uppercase;
    letter-spacing: -.5px;
    padding: 5px 15px;
    box-shadow: none;
    border: 2px solid #1acdb5;}

a.btn.btn-dark {
    color: #ffffff;
    background-color: #ffffff00;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    letter-spacing: -.5px;
    padding: 5px 15px;
}


.regBtn {
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    margin-left: 20px;
    letter-spacing: 1px;
    border-bottom: 5px solid;
    padding-bottom: 5px;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

a.regBtn:hover {
    color: #78ffed;
    text-decoration: none;
}


#intro .rr-ii  {
    background: #1acdb5;
}

#news h4 {
    padding: 15px 2px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 68px;
    margin-bottom: 40px;
    font-weight: 600;
    text-align: left;
    font-size: 25px;
    width: auto;
    border-radius: 10px;
}

#news ul {
    margin: 0;
    padding: 0;
}

#news ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#news ul li a {
    padding: 25px 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #1acdb582;
    margin-top: 100px;
    margin-bottom: 40px;
    font-weight: 600;
    text-align: left;
    font-size: 28px;
    width: auto;
    border-radius: 10px;
}

#news > ul > li:nth-child(2) > h2 > a {
    background: #0755a9;
}


.posts {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-top: 200px;
}

.posts p {
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
    padding: 19px;
    text-align: left;
}