<div class="container">
  <!-- START THE FEATURETTES -->

  <h1>Our aim is to provide your business with:</h1>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        <span class="text-muted">Competitive Insurance Premiums</span>
      </h2>
      <p class="lead">
        Through our extensive knowledge of the market, we strive to get you
        value for money on your insurance.
      </p>
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        <span class="text-muted"> Quality cover</span>
      </h2>
      <p class="lead">
        With our experience along with access to a range of insurers, we will
        tailor each product we offer to meet your individual needs.
      </p>
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        And lastly, <span class="text-muted">A Personal Service.</span>
      </h2>
      <p class="lead">
        We understand that every business is unique, that is why we are always
        here when you need assistance or advice.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="/images/logo.png"
        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
        alt=""
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
</div>
