  <div class="container mt-5">
    <div class="card-deck">

      <div class="card">
          <div>
        <img src="../images/raise-ventures-bg.png" class="card-img-top" alt="Rolex Clock" />
          </div>
        <div class="card-body text-left">
          <h5 class="card-title">Raise Ventures</h5>
          <p class="card-text pt-1">
            Raise Ventures are a startup accelerator based in Belfast Northern Ireland.
            </p>
            <p class="card-text pt-4">
              <a href="">Read More</a> 
            </small>
          </p>
        </div>
      </div>
      <div class="card">
          <div>
        <img src="../images/joob-joobs-bg.png" class="card-img-top" alt="Belfast Clock" />
          </div>
        <div class="card-body text-left">
          <h5 class="card-title">Joob Joobs</h5>
            <p class="card-text pt-1">
             Joob Joobs stocks the worlds best independent sweets and sells direct to the customer within the UK.
            </p>
          <p class="card-text pt-4">
       <a href="">Read More</a> 
            </small>
          </p>
        </div>
      </div>

    </div>
  </div>



    <div class="container mt-5">
      <div class="card-deck">
          <div class="card">
          <div>
        <img src="../images/bibc-bg.png" class="card-img-top" alt="Belfast Clock" />
          </div>
        <div class="card-body text-left">
          <h5 class="card-title">Belfast Indoor Bowls Club</h5>
            <p class="card-text pt-1">
               Belfast Indoor Bowls club is one of the largest and best kept indoor bowls clubs in the UK.
            </p>
          <p class="card-text pt-4">
       <a href="">Read More</a> 
            </small>
          </p>
        </div>
      </div>

         <div class="card">
          <div>
        <img src="../images/nistartup-bg.png" class="card-img-top" alt="Belfast Clock" />
          </div>
        <div class="card-body text-left">
          <h5 class="card-title">NI Startup</h5>
            <p class="card-text pt-1">
            NI Startup showcases Northern Irish businesses. The site was built in less than 24 hours with 'No-Code'.
            </p>
          <p class="card-text pt-4">
       <a href="">Read More</a> 
            </small>
          </p>
        </div>
      </div>

</div>


    <div class="container mt-5">
      <div class="card-deck">
          <div class="card">
          <div>
        <img src="../images/yeooo-delivery-bg.png" class="card-img-top" alt="Belfast Clock" />
          </div>
        <div class="card-body text-left">
          <h5 class="card-title">Yeooo.Delivery </h5>
            <p class="card-text pt-1">
              Yeooo.Delivery is a hub website for who is delivering in Northern Ireland. 
            </p>
          <p class="card-text pt-4">
       <a href="">Read More</a> 
            </small>
          </p>
        </div>
      </div>

         <div class="card">
          <div>
        <img src="../images/pure-running-bg.png" class="card-img-top" alt="Belfast Clock" />
          </div>
        <div class="card-body text-left">
          <h5 class="card-title">Chain Reaction Cycles</h5>
            <p class="card-text pt-1">
              Chain Reaction Cycles to work on the Email Development process within their Marketing Team. 
            </p>
          <p class="card-text pt-4">
       <a href="">Read More</a> 
            </small>
          </p>
        </div>
      </div>

</div>




      </div>
    </div>

<div class="animated fadeInUp delay-1s" id="parallax">

  <section id="about">
    <div class="parallax-one">
    
      <h2 class="animated fadeInDown delay-2s">For You</h2>

      <p class="animated fadeInDown delay-2"> This is a selection of my recent work. I’ve placed it together in a layout inspired by the Dawson Andrews website. It showcases recent examples of my work with <a href="/raise-ventures">Raise Ventures</a>, <a href="/joob-joobs">Joob Joobs</a>, <a href="/belfast-indoor-bowls-club">Belfast Indoor Bowls Club</a>, <a href="/ni-startup">NI Startup</a>, <a href="/yeooo-delivery">Yeooo.Delivery</a> and <a href="/pure-running">Pure Running</a>.</p>

    </div>
  </section>



</div>
