<nav class="navbar fixed-top navbar-expand-lg">


    <a class="navbar-brand ml-2" href="https://remoteraise.com"><img class="remote-raise-logo" src="/images/remote-raise-logo.png" height="60" alt="Remote Raise">
</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">


      <li class="nav-item">
        <a class="btn px-4" href="/about" role="button">
About</a>
</li>


 <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Previous events
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="nav-item">
          <a class="btn px-4" href="{{ site.url }}/remote-raise-four" role="button">
        RR IV</a>
     
      </li>

<li class="nav-item">
          <a class="btn px-4" href="{{ site.url }}/remote-raise-iii" role="button">
        RR III</a>
     
      </li>

      <li class="nav-item">
          <a class="btn px-4" href="{{ site.url }}/remote-raise-ii" role="button">
        RR II</a>
     
      </li>
          </ul>
        </li>







  
    <li class="nav-item">
  <a class="btn btn-dark ml-5 sign-up-btn" href="https://us02web.zoom.us/meeting/register/tZwkduqqqj0vGtSnyH2IoJRjAzPqJz0Q8L-e" role="button">
Sign Up</a>
</li>

    </ul>

  </div>


</nav>





