<div id="pitchers" class="container">

<div class="row py-5">
<div class="col-sm-2 col-md-6">
<img src="/images/atlas-icon.png" alt="Atlas">
</div>
<div class="col-sm-10 col-md-6">
<h2>Atlas SportsTech</h2> 
<p>Atlas are breaking down physical, mental and social barriers through the creation and collaboration of game changing SportsTech and HealthTech.</p>

<a  href="https://youtu.be/w9-wtPOL4N8?t=1954" class="btn btn-light no-lightbox">Watch James Pitch</a>
<a class="more-info" href="{{ site.url }}/pitchers">More Info &#9658;</a>


</div>
</div>

<div class="row py-5">
<div class="col-sm-2 col-md-6">
<img src="/images/scale-up-for-growth-icon.png" alt="Scale Up For Growth">
</div>
<div class="col-sm-10 col-md-6">
<h2>Scale Up For Growth </h2> 
<p>Use Scale Up For Growth to measure and analyse talent using data science, predict and improve recruitment processes with AI and ML and achieve the right talent with the right fit in the right roles. 
</p>

<a href="https://youtu.be/w9-wtPOL4N8?t=96" class="btn btn-light no-lightbox">Watch Kufa Pitch</a>

<a class="watch-link" href="http://www.scaleupforgrowth.com">scaleupforgrowth.com</a>
<a class="more-info" href="{{ site.url }}/pitchers">More Info &#9658;</a>

</div>
</div>


<div class="row py-5">
<div class="col-sm-2 col-md-6">
<img src="/images/pryntd-icon.png" alt="Pryntd">
</div>
<div class="col-sm-10 col-md-6">
<h2>Pryntd.xyz</h2> 
<p>Immersive on-demand and live-streaming platform with haptic support for music and entertainment. Proprietary AI algorithm makes us first to make it easy for content creators to make new and convert 2d content into augmented and virtual reality, accessible for audiences on their smartphones, tablets, computers, AR/VR devices. 
</p>

<a href="https://youtu.be/w9-wtPOL4N8?t=1435" class="btn btn-light no-lightbox">Watch Berne Pitch</a>

<a class="watch-link" href="https://pryntd.xyz">https://pryntd.xyz </a>
<a class="more-info" href="{{ site.url }}/pitchers">More Info &#9658;</a>

</div>
</div>

<div class="row py-5">
<div class="col-sm-2 col-md-6">
<img src="/images/rotapal-icon.png" alt="RotaPal">
</div>
<div class="col-sm-10 col-md-6">
<h2>RotaPal</h2> 
<p>Revolutionising how doctors and healthcare professionals manage their schedules -  saving time and saving lives.
.</p>

<a href="https://youtu.be/w9-wtPOL4N8?t=693" class="btn btn-light no-lightbox">Watch Harry Pitch</a>

<a class="watch-link" href="http://www.rotapal.com/">https://www.rotapal.com</a>
<a class="more-info" href="{{ site.url }}/pitchers">More Info &#9658;</a>

</div>
</div>

<div class="row py-5">
<div class="col-sm-2 col-md-6">
<img src="/images/bomadu-icon.png" alt="Recfunnel">
</div>
<div class="col-sm-10 col-md-6">
<h2>BOMADU</h2> 
<p>We are on a mission to offer an alternative solution to the home deposit challenge for many first time buyers.</p>

<a href="https://youtu.be/w9-wtPOL4N8?t=2800" class="btn btn-light no-lightbox">Watch Abi Pitch</a>

<a class="watch-link" href="http://www.bomadu.com">https://www.bomadu.com</a>
<a class="more-info" href="{{ site.url }}/pitchers">More Info &#9658;</a>

</div>
</div>

<div class="row py-5">
<div class="col-sm-2 col-md-6">
<img src="/images/itsu-icon.png" alt="ITUS CYBRISC">
</div>
<div class="col-sm-10 col-md-6">
<h2>CYBRISC</h2> 
<p>Our innovative software, supports the insurance industry to quantify cyber risk in SMEs, reducing their loss ratios in cyber insurance and aiding management of systemic risk within their portfolios. Unlike our competitors, we report on near-miss cyber incidents using data from security solutions implemented by the SME.</p>

<a href="https://youtu.be/w9-wtPOL4N8?t=3552" class="btn btn-light no-lightbox">Watch Clare Pitch</a>

<a class="watch-link" href="https://www.cybrisc.com">www.cybrisc.com</a>
<a class="more-info" href="{{ site.url }}/pitchers">More Info &#9658;</a>

</div>
</div>

<div style="padding-bottom: 200px !important;" class="row py-5">
<div class="col-sm-2 col-md-6">
<img src="/images/umazi-icon.png" alt="Umazi">
</div>
<div class="col-sm-10 col-md-6">
<h2>Umazi</h2> 
<p>First Cross-Industry Corporate Identity to facilitate Due Diligence
</p>

<a href="https://youtu.be/w9-wtPOL4N8?t=4177" class="btn btn-light no-lightbox">Watch Cindy Pitch</a>

<a class="watch-link" href="https://www.umazi.io/">https://www.umazi.io</a>
<a class="more-info" href="{{ site.url }}/pitchers">More Info &#9658;</a>

</div>
</div>


</div>

<style type="text/css">
	
	#pitchers img {
    margin: 25px;
}

.more-info {
	background: #002d72;
    width: 175px;
    padding: 5px 20px;
    margin: 0;
    border-radius: 5px;
}

.watch-link {
	margin: 0;
}

</style>