<div id="policies" class="container-fluid p-5">
  <div class="row">
    <div class="col">
      <div class="featuredHomeImg"></div>
    </div>

    <div class="col policiesFeaturedText px-5">
      <h1>Our Policies</h1>
      <p>
        We can offer you a range of insurance policies to meet your needs.
      </p>

      <p>
        Call <strong>HA Leslie & Co</strong> today on:
        <strong>028 9032 3855</strong> speak to one of our Insurance
        Specialists.
      </p>

      <h2>Commercial</h2>
      <ul>
        <li>Vehicle Property</li>
        <li>Combined</li>
        <li>Property Owner</li>
        <li>Shop Package</li>
      </ul>

      <h2>Professional</h2>
      <ul>
        <li>Charity Trustee</li>
        <li>Director & Officers</li>
        <li>Indemnity</li>
        <li>Office Package</li>
      </ul>
      <p><strong>Motor, Fleet, Minibus polices and more...</strong></p>
    </div>
  </div>
</div>
